  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
 <h1>Lambdas demo</h1>
        <h:dataTable value="please enter the right streams operations" var="car">
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Trademark"/>
                </f:facet>
                <h:outputText value="#{car.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Color"/>
                </f:facet>
                <h:outputText value="#{car.color}"/>
            </h:column>
        </h:dataTable>
       
</body> 
</html>