<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


	<h:head>
		<h1>Operators</h1>
	</h:head>
	<h:body>
	<h2>Example1</h2>
		${xx = operators.operatorEquals}
		<br />
		${operators.operatorEquals = "Changed"}
		<br />
		${operators.operatorEquals}
	<br />
		${xx}
	<h2>Example 2</h2>	
		${xx = operators.userName; "Welcome " += xx}
	<br />
	</h:body>

</html>